body {
	background: #fefefe;
	color: #333;
}

.whoHeader, .mainHeader, .sectionHeader {
	color: #00487c;
}

p {
	color: darkblue;
}

.paragraphLvlOne, .paragraphLvlTwo, .paragraphLvlThree, .paragraphLvlFour, .paragraphLvlFive {
	color: rgb(202, 5, 169)
}

.mainFooter{
	color: rebeccapurple;
}

.thirdHeader{
	color: #0496FF
}

.mainFooter{
	color: rebeccapurple;
}