body {
	background: #fefefe;
	color: #333;
}

.whoHeader, .mainHeader, .sectionHeader {
	color: #00487c;
}

p {
	color: darkblue;
}

.paragraphLvlOne, .paragraphLvlTwo, .paragraphLvlThree, .paragraphLvlFour, .paragraphLvlFive {
	color: rgb(202, 5, 169)
}

.paragraphLvlTwo {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraphLvlThree {
	font-size: 10px;
}

.paragraphLvlFour {
	scroll-margin-left: 23px;
}

.paragraphLvlFive {
	columns: one;
}

.mainFooter{
	color: rebeccapurple;
}